body {
  background-color:white;
}

.blue{
  background-color:#52A7F9;
  color:white;
  display: flex;
  flex-direction: row;
  margin-bottom: 10%;
}

.gray{
  background-color: #DDDEE0;
  color: #53585F;
}

.HelloIntro{
  color: #0465C0;
}
